<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div style="position: absolute; width: 100%;">
  <div class="panel">
      <h1 class="center">TINF22F: Studienjahr 2</h1>
      <h4 class="center">Wichtige DHBW-Seiten</h4>
      <app-links *ngFor="let item of dhbwLinks" [data]="item"></app-links>
  </div>
  
  <div class="panel">
      <h4 class="center">Module</h4>
      <app-links *ngFor="let item of moduleLinks" [data]="item"></app-links>
  </div>
  
  <div class="panel">
      <h4 class="center">Github</h4>
      <app-links *ngFor="let item of githubLinks" [data]="item"></app-links>
  </div>
</div>